.container-block-two-three {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.block-two {
  width: 30vw;
}

.block-two__title {
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 49, 49);
}

.block-two__code {
  display: flex;
}

.block-two__code__numbers {
  text-align: end;
  padding: 10px;
  background-color: rgb(209, 208, 207);
  color: rgb(72, 69, 69);
}

.block-two__code__content {
  width: 100%;
  padding: 14px;

  background-color: aliceblue;
  color: black;
  margin: 0;
}

.code__content__input {
  border: none;
  color: black;
  background-color: aliceblue;
}

.code__content__input::-webkit-input-placeholder {
  color: black;
}

.code__content__input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
