.block-four {
  position: fixed;
  width: 25vw;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  padding: 10px;
}

.block-four__title-box {
  display: flex;
  gap: 10px;
}

.lvl__number {
  cursor: pointer;
  background-color: bisque;
}

.lvl__number:hover {
  opacity: 0.9;
}

.focus {
  padding: 5px 10px;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgb(31, 31, 31);
  font-size: 30px;
  color: bisque;
}

tag {
  display: inline-block;
  border: 1px solid gray;
  padding: 2px 3px;
}

.btn-new-game {
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  background-color: bisque;
}

.btn-new-game:hover {
  opacity: 0.9;
}

.green-icon:after {
  content: '';
  height: 60px;
  width: 60px;
  background: url(../assets/img/green-icon.png) no-repeat;
  position: absolute;
  margin-left: 10px;
  background-size: 21px;
}

.black-icon:after {
  content: '';
  height: 60px;
  width: 60px;
  background: url(../assets/img/black-icon.png) no-repeat;
  position: absolute;
  margin-left: 10px;
  background-size: 21px;
}

.green-icon:after {
  content: '';
  height: 60px;
  width: 60px;
  background: url(../assets/img/yellow-icon.png) no-repeat;
  position: absolute;
  margin-left: 10px;
  background-size: 21px;
}

.green {
  background-color: darkgreen;
}

.red {
  background-color: darkred;
}
