.block-four {
  position: fixed;
  width: 25vw;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  padding: 10px;
}

.block-four__title-box {
  display: flex;
  gap: 10px;
}

.lvl__number {
  cursor: pointer;
  background-color: bisque;
}

.lvl__number:hover {
  opacity: 0.9;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgb(31, 31, 31);
  font-size: 30px;
  color: bisque;
}

.tag-highlight {
  display: inline-block;
  border: 1px solid gray;
  padding: 2px 3px;
}

.btn-new-game {
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  background-color: bisque;
}

.btn-new-game:hover {
  opacity: 0.9;
}
