.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: aliceblue;
  transition: 0.4s;
}

.bento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: rgba(144, 11, 11, 0.773);
  transition: 0.4s;
}

.fancy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: cyan;
  transition: 0.4s;
}

.apple {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(223, 10, 10, 0.773);
  transition: 0.4s;
}

.apple__small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(223, 10, 10, 0.773);
  transition: 0.4s;
}

.orange {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkorange;
  transition: 0.4s;
}

.orange__small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: darkorange;
  transition: 0.4s;
}

.pickle {
  width: 20px;
  height: 50px;
  background-color: rgba(11, 125, 60, 0.924);
  transition: 0.4s;
}

.pickle__small {
  width: 10px;
  height: 25px;
  background-color: rgba(11, 125, 60, 0.924);
  transition: 0.4s;
}

.plate:hover,
.bento:hover,
.fancy:hover,
.plate:hover,
.apple:hover,
.apple__small:hover,
.orange:hover,
.orange__small:hover,
.pickle:hover,
.pickle__small:hover {
  background-color: gray;
}

@media screen and (max-width: 1024px) {
  .plate,
  .bento,
  .fancy {
    width: 60px;
    height: 60px;
  }

  .apple,
  .orange {
    width: 40px;
    height: 40px;
  }

  .apple__small,
  .orange__small {
    width: 25px;
    height: 25px;
  }

  .pickle {
    width: 15px;
    height: 40px;
  }

  .pickle__small {
    width: 10px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .plate,
  .bento,
  .fancy {
    width: 50px;
    height: 50px;
  }

  .apple,
  .orange {
    width: 30px;
    height: 30px;
  }

  .apple__small,
  .orange__small {
    width: 20px;
    height: 20px;
  }

  .pickle {
    width: 15px;
    height: 40px;
  }

  .pickle__small {
    width: 10px;
    height: 25px;
  }
}
