.block-four {
  position: fixed;
  width: 25vw;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  padding: 1vh;
}

.block-four__title-box {
  display: flex;
  gap: 10px;
}

.lvl__number {
  cursor: pointer;
  background-color: bisque;
  font-size: 1vw;
  padding: 0.1vw 0.5vw;
}

.lvl__number:hover {
  opacity: 0.8;
}

.focus {
  padding: 0.3vw 0.8vw;
}

.tag {
  display: inline-block;
  border: 1px solid gray;
  padding: 2px 3px;
}

.btn-new-game {
  cursor: pointer;
  margin-top: 2vw;
  font-size: 1.5vw;
  background-color: bisque;
}

.btn-new-game:hover {
  opacity: 0.8;
}

.green {
  background-color: green;
}

.red {
  background-color: darkred;
}

.selector-name {
  font-size: 2vw;
}

.help-title {
  font-size: 1.3vw;
}

.syntax {
  font-size: 1.5vw;
}

.help {
  font-size: 1.2vw;
}

.example {
  font-size: 1.3vw;
}

.example-content {
  font-size: 1.2vw;
}
