@import './css/header.css';
@import './css/block-1.css';
@import './css/block-2.css';
@import './css/block-3.css';
@import './css/block-4.css';
@import './css/elements-on-table.css';

body {
  box-sizing: border-box;
  background-color: rgb(73, 46, 46);
  margin: 0;
  color: bisque;
  font-size: 1vw;
}

/* @media screen and (max-width: 1024px) {
  body {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1vh;
  }
} */

main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(73, 46, 46); */
  width: 75vw;
  /* height: 100vh; */
}

footer {
  width: 75vw;
  background-color: rgb(73, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* @media screen and (max-width: 700px) {
  aside {
    display: none;
  }

  main {
    width: 100vw;
  }

  footer {
    width: 100vw;
  }
} */
