@import './components/blog-1/blog-1.css';
@import './components/blog-2/blog-2.css';
@import './components/blog-3/blog-3.css';
@import './components/blog-4/blog-4.css';

body {
  color: bisque;
  margin: 0;
}

.container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 46, 46);
  width: 75vw;
}



footer {
  width: 75vw;
  background-color: rgb(73, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
